/* containers */
.render-block-container {
    padding: 50px 0 0 0 !important;
}
.render-block-container .render-block.commit-html-override.ql-editor {
    max-width: 1200px !important;
}
/* set background of entire content area - may or may not override grey background settings*/
main section.commitflex div {
    background-color: #ffffff !important;
}
/* this sets a boundary on the two column sections */
.commitflex.commitcenteralign {
    max-width: 1200px;
    margin: auto;
}


/* headers */
h1 { color:#25104e;font-weight:400; font-size: 44px; line-height: 50px; } 
/* wysiwyg header should match h1 styling */
.liznQg { color:#25104e !important;font-weight:400 !important; font-size: 44px !important; line-height: 50px !important;}
h2 { color:#25104e;font-weight:400; font-size: 36px; line-height: 44px; }
h3 { color:#8ba0c4;font-weight:400; font-size:26px;line-height:32px; } 
/* wysiwyg ditor subtitles should match h3 styling */
.ql-editor p span.ql-size-large,
.ql-editor p strong.ql-size-large { color:#8ba0c4;font-weight:400; font-size:26px;line-height:32px; } 

h4 {
    color: #25104e;
    font-size: 26px;
    line-height: 34px;
    padding: 0 0 20px 0 !important;
    margin: 0 !important;
}

/* styles for ol and ul lists */
.ql-editor ol, .ql-editor ul { padding-left: 0 !important; }
.ql-editor ol li:not(.ql-direction-rtl), .ql-editor ul li:not(.ql-direction-rtl) { padding-left: 22px !important; padding-bottom:5px; }
.ql-editor li.ql-indent-1:not(.ql-direction-rtl) { padding-left: 44px !important; }
/* links */
main section.commitflex a {
    color: #9d2762 !important;
    font-weight: 600;
}
main section.commitflex a:hover {
    color: #8ba0c4 !important;
}
/* buttons */
main .MuiBox-root a.button {
    display: inline-block;
    color: #ffffff !important;
    padding: 12px;
    border-radius: 5px;
    margin: 15px 15px 0 0;
    font-size: 18px;
    background-color: #25104e;
    font-weight: normal;
}
main .MuiBox-root a.button.magenta {background-color:#9d2762; }
main .MuiBox-root a.button.ltblue {background-color:#8ba0c4; }
main .MuiBox-root a.button:hover {background-color:#333333 !important;color:#ffffff !important; } 
main .MuiBox-root a.button.large i {
    display: block;
    margin: auto;
    font-size: 48px;
    padding-bottom: 10px;
}
main .MuiBox-root a.button.large {
    font-size: 18px;
    padding: 18px 16px 12px 16px;
}



/* top menu and button */
span.ant-dropdown-trigger.no-style-link {
    color: #25104e !important;
}
.no-style-link a, .no-style-link a:focus, .no-style-link a:hover, .no-style-link a:visited, a.no-style-link, a.no-style-link:active, a.no-style-link:focus, a.no-style-link:hover, a.no-style-link:visited, a:active {
    color: #25104e;
}
.commitflex .commitflex span.no-style-link:last-of-type {
    background-color: #9d2762;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.commitflex .commitflex span.no-style-link:last-of-type a {
    color: #fff;
    font-size: 16px !important;
}
.commitflex .commitflex span.no-style-link:last-of-type:hover {
    background-color: #25104e;
}

/* dropdown menu - setting font */
.ant-dropdown {
    font-family: 'Lato', sans-serif;
}

/* mobile menu */
.ant-drawer-content-wrapper {
    font-family: 'Lato', sans-serif;
}
.ant-drawer-content-wrapper span.no-style-link {
    width: 150px !important;
    background-color: #9d2762 !important;
    margin: 0 auto;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
}

.ant-drawer-content-wrapper span.no-style-link a, .ant-drawer-content-wrapper span.no-style-link a:hover {
    color: #fff;
}
.ant-menu-light .ant-menu-submenu-title:hover,
.ant-menu-item a:hover {
    color: rgba(0, 0, 0, .85);
}

/* video wrapper */

.videowrapper {
    clear: both;
    float: none;
    height: 0;
    margin: 0 0 20px;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

.videowrapper > iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/* iframes */

iframe.schedule, iframe.map, iframe.form {
    max-width: 100%;
}

/* image styling */

img.coach { height: auto; width: 300px; padding: 6px 20px 10px 0px; float: left; }
img.alignright { height: auto; width: 30%; padding: 0 0 20px 20px; float: right; }
@media only screen and (max-width: 600px){
img.coach {
        padding-bottom: 20px;
        margin: 0 auto !important;
        width: 100% !important;
        height: 100% !important;
        float: none !important;
        display: block !important;
}
img.alignright { height: auto; width: auto; max-width: 100%; padding: 0 0 20px 0; float: none; }	
}

/* responsive table formatting */

.resp-table-body {
    margin: 0 auto 0 0;
    display: table;
}
.resp-table {
	width: 100%;
	display: table;
	table-layout: auto;
}
.resp-table-header {
	display: table-header-group;
	background-color: #25104e !important;
	color: white;
}
.resp-table-row.header .table-header-cell
{
	background-color: #25104e !important;
}
.resp-table-row.header {
	background-color: #25104e !important;
	color: white;
	font-size: 16px;
	font-weight: normal;
}
.table-header-cell{
	display: table-cell;
	padding: 10px;
	margin: auto;
	border-bottom: 1px solid black;
	font-weight: normal;
	font-size: 16px;
}
.resp-table-row{
	display: table-row;
}
.table-row-label{
	display: table-cell;
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid black;
	font-size: 11pt;
}
.table-body-cell{
	display: table-cell;
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid black;
	font-size: 11pt;
}
.table-body-cell .mobile {display: none;}
.table-body-cell.left{
	text-align: left;
}
.table-body-cell.dues {
    max-width: 260px;
}
.table-body-cell.fee
 {
    border-bottom: none;
    border-left: 1px solid;
    border-right: 1px solid;
    background: #f1f1f1;
 }
.table-body-cell.usa
 {
    border-bottom: none;
    border-right: 1px solid;
    background: #f1f1f1;
}
.table-body-cell.fee.last { border-bottom: 1px solid; }
.table-body-cell.usa.last { border-bottom: 1px solid; }
.table-body-cell.equip {
	text-align: left;
	min-width: 120px;
	padding-right: 3vw;
}
.table-body-cell.group {
	background-color: #8ba0c4 !important;
	color: white;
}    
.table-row-label.group {
	background-color: #8ba0c4 !important;
	color: white;
	min-width: 140px;
}
@media only screen and (max-width: 750px){
.ql-editor .ql-size-huge {
    font-size: 44px;
    line-height: 44px;
}
.react-parallax .ql-editor .ql-align-center .ql-size-large {
    font-size: 22px;
    line-height: 30px !important;
    box-sizing: unset;
    display: inline-block;
    padding-top: 20px;
}
.liznQg {
    font-size: 36px !important;
    line-height: 40px !important;
}
h2 {
    font-size: 28px;
    line-height: 34px;
}
h3 {
    font-size: 22px;
    line-height: 26px;
}
h4 {
    font-size: 18px;
    line-height: 26px;
}
main section.commitflex a.button.large {
    font-size: 14px;
    padding: 15px 10px 10px;
    margin: 15px 4px 0;
    font-size: 14px;
}
main section.commitflex a.button.large i {
    display: block;
    margin: auto;
    font-size: 42px;
    padding-bottom: 8px;
}



	
	.resp-table-header {
	  display: none;
	}
	.resp-table-row.header {
	display:none;
    }
	.table-body-cell {
	  display: flex;
	}
	.table-body-cell .mobile {display: block;}
	.table-row-label {
	  display: flex;
	}
    .table-body-cell.dues {
    max-width: unset;
    }
	.table-body-cell.meetdates::before {
	 	content: "Meet Dates:";
	  	font-weight: bold;
	  	width: 120px;
	  	min-width: 120px;
      		padding-right: 3vw;
	} 
	.table-body-cell.invited::before {
	 	content: "Swimmers Invited:";
	  	font-weight: bold;
	  	width: 120px;
	  	min-width: 120px;
      		padding-right: 3vw;
	} 
	
	.table-body-cell.required::before {
	 	content: "Swimmers Required:";
	  	font-weight: bold;
	  	width: 120px;
	  	min-width: 120px;
      		padding-right: 3vw;
	} 
	.table-body-cell.meetlocation::before {
	 	content: "Location:";
	  	font-weight: bold;
	  	width: 120px;
	  	min-width: 120px;
      		padding-right: 3vw;
	} 
	.table-body-cell.fee {
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
    background: #fff;
    text-align: left;
    }
	 .table-body-cell.fee::before {
	  	content: "PAC Reg Fee:";
	  	font-weight: bold;
	  	width: 120px;
	  	min-width: 120px;
      		padding-right: 3vw;
	} 
	
	  .table-body-cell.type::before {
	  	content: "Membership Type:";
	  	font-weight: bold;
	  	width: 120px;
	  	min-width: 120px;
      		padding-right: 3vw;
	}
	.table-body-cell.usa {
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
    background: #fff;
    text-align: left;
    }
	  .table-body-cell.usa::before {
	  	content: "USA Swim Reg Fee:";
	  	font-weight: bold;
	  	width: 120px;
	  	min-width: 120px;
      		padding-right: 3vw;
	}
	.table-body-cell.dues::before {
		content: "Annual Dues (monthly payment):";
		font-weight: bold;
		width: 120px;
		min-width: 120px;
        	padding-right: 3vw;
	  }
	  .table-body-cell.fundraising::before {
		content: "Fundraising:";
		font-weight: bold;
		width: 120px;
		min-width: 120px;
        	padding-right: 3vw;
	  }
	  .table-body-cell.service::before {
		content: "Service Hours:";
		font-weight: bold;
		width: 120px;
		min-width: 120px;
	        padding-right: 3vw;
	  }	
	.table-body-cell.equip::before {
	     content: "Required Equipment:";
	     font-weight: bold;
	     width: 120px;
	     min-width: 120px;
	     padding-right: 3vw;
         } 
	 .table-row-label.group{
	  	background-color: #8ba0c4;
	  	color: white;
	  }
  .table-body-cell.group::before {
    content: "Group";
    font-weight: bold;
    width: 130px;
    min-width: 130px;
  }
   .table-body-cell.group{
    background-color: #8ba0c4;
	color: white;
    }
   .table-body-cell.goal::before {
    content: "Goals & Focus";
    font-weight: bold;
    width: 130px;
    min-width: 130px;
  } 
    .table-body-cell.age::before {
    content: "Target Age";
    font-weight: bold;
    width: 130px;
    min-width: 130px;
  }
    .table-body-cell.requirements::before {
    content: "Requirements";
    font-weight: bold;
    width: 130px;
    min-width: 130px;
  }
    .table-body-cell.meets::before {
    content: "Meets & Practices";
    font-weight: bold;
    width: 130px;
    min-width: 130px;
  }
    .table-body-cell.hrs::before {
    content: "Hours/Week";
    font-weight: bold;
    width: 130px;
    min-width: 130px;
  }
	
  }
