h1 { color:#25104e;font-weight:600; font-size: 44px; line-height: 50px; } 
h2 { color:#25104e;font-weight:600; font-size: 38px; line-height: 46px; }
h3 { color:#8ba0c4;font-size:32px;line-height:38px; } 
.button { display:inline-block;color:#ffffff; padding:12px; border-radius:5px;margin:0 15px 0 0;font-size:18px;background-color:#25104e;}
.button.magenta {background-color:#9d2762; }
.button.ltblue {background-color:#8ba0c4; }
.button:hover {background-color:#333333 !important;color:#ffffff !important; } 
.button.large i {
    display: block;
    margin: auto;
    font-size: 48px;
    padding-bottom: 10px;
}
.button.large {
    font-size: 20px;
    padding: 16px;
}
