h1 {
	color: red;
}	

/* global styles */
h1 {
    color: #D8031C;
    font-weight: bold;
    font-family:arial,helvetica,sans-serif;
    font-size: 16pt;
	}
h2 {
    color: #01016F;
    font-weight: bold;
    font-size: 14pt;
    font-family:arial,helvetica,sans-serif;
    margin-top: 35px;
	}
p {
    color: #000000;
    font-size: 11pt;
    font-family:arial,helvetica,sans-serif;
	}
a   {
    text-decoration: underline;
    font-family:arial,helvetica,sans-serif;
    outline: none;
    }
a:link {
    color: #6497bf;
    font-family:arial,helvetica,sans-serif;
    }
a:visited {
    color: #9fcbee;
    font-family:arial,helvetica,sans-serif;
    }
li{
    color: #000000;
    font-size: 11pt;
    font-family:arial,helvetica,sans-serif;
    margin: 10px 0;
}
.question {
    background-color: #9FCBEE; 
    border-radius: 25px;
    padding-left: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px;
	color: white;
    font-family:arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 11pt;
	}
.answer {
    padding-left: 10px; 
    padding-top: 10px; 
    padding-bottom: 15px; 
    font-size: 11pt;
    font-family:arial,helvetica,sans-serif;
	}
.emphasis {
    color: #5A5A5A;
    font-size: 11pt;
    font-weight: bold;
    font-family:arial,helvetica,sans-serif;
	}

/* responsive table formatting */
	
.resp-table {
width: 100%;
display: table;
table-layout: auto;
}
.resp-table-header{
display: table-header-group;
background-color: #9FCBEE;
color: white;
}
.table-header-cell{
display: table-cell;
padding: 10px;
margin: auto;
border-bottom: 1px solid black;
font-weight: bold;
font-size: 11pt;
}
.resp-table-body{
display: table-row-group;
}
.resp-table-row{
display: table-row;
}
.table-row-label{
display: table-cell;
text-align: left;
padding: 10px;
border-bottom: 1px solid black;
font-size: 11pt;
}
.table-body-cell{
display: table-cell;
text-align: right;
padding: 10px;
border-bottom: 1px solid black;
font-size: 11pt;
}

@media only screen and (max-width: 750px){
    img{
        padding-top: 4vw !important;
        padding-bottom: 4vw !important;
        margin: 0 auto !important;
        width: 100% !important;
        height: 100% !important;
        float: none !important;
        display: block !important;
	}    
	.resp-table-header {
	  display: none;
	}
	.table-body-cell {
	  display: flex;
	}
	.table-row-label {
	  display: flex;
	}
	
	 .table-body-cell.fee::before {
	  	content: "PAC Reg Fee:";
	  	font-weight: bold;
	  	width: 120px;
	  	min-width: 120px;
      		padding-right: 3vw;
	} 
	  .table-body-cell.type::before {
	  	content: "Membership Type:";
	  	font-weight: bold;
	  	width: 120px;
	  	min-width: 120px;
      		padding-right: 3vw;
	}
	.table-body-cell.dues::before {
		content: "Annual Dues (monthly payment):";
		font-weight: bold;
		width: 120px;
		min-width: 120px;
        	padding-right: 3vw;
	  }
	  .table-body-cell.fundraising::before {
		content: "Fundraising:";
		font-weight: bold;
		width: 120px;
		min-width: 120px;
        	padding-right: 3vw;
	  }
	  .table-body-cell.service::before {
		content: "Service Hours:";
		font-weight: bold;
		width: 120px;
		min-width: 120px;
	        padding-right: 3vw;
	  }
	.table-body-cell.equip::before {
		content: "Equipment:";
		font-weight: bold;
		text-align: left;
		width: 120px;
		min-width: 120px;
	        padding-right: 3vw;
	  }
    
	
	 .table-row-label.group{
	  background-color: #9FCBEE;
	  color: white;
	  }
  }

/* header big buttons */
.OrganLink img {
    width: 69px !important;
}
a.button.blue, a.button.red, a.button.ltblue {
    display: inline-block;
    background-color: rgb(24, 41, 87);
    color: #fff;
    padding: 12px;
    float: left;
    border-radius: 5px;
    margin: 12px 15px 12px 0px;
    font-size: 16px;
    font-weight: 600;
}
a.button.ltblue { background-color: #6497bf; }
a.button.red { background-color: #D8031C; }
a.button:hover { text-decoration: none; }


p.stylesheet {display:none !important;}    


@media (max-width: 991px) {
    .OrganLink img { display: none; }
    p { text-align: center; }
    a.button.blue, a.button.red,a.button.ltblue { float:none; margin: 0 8px;}
}

